<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11879661373-r191o4f98a4r9cbeabn40f9ui4a9331k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11879661373-r191o4f98a4r9cbeabn40f9ui4a9331k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>11879661373-6l58oub9hsdrt30lsjtrg7mdsa2j5kt2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_EQ22JMIDkDQxvdRegeOGxnZRkONPSgM</string>
	<key>GCM_SENDER_ID</key>
	<string>11879661373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laptopShop</string>
	<key>PROJECT_ID</key>
	<string>laptopstore-d6390</string>
	<key>STORAGE_BUCKET</key>
	<string>laptopstore-d6390.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11879661373:ios:c46158abba4665d70dcf54</string>
</dict>
</plist>